<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Draws.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Draws.Properties.Settings>
            <setting name="DefaultSavePath" serializeAs="String">
                <value>D:\</value>
            </setting>
            <setting name="DefaultColor" serializeAs="String">
                <value>#0000ff</value>
            </setting>
        </Draws.Properties.Settings>
    </userSettings>
</configuration>